    {{#each this}}
   <div><img class="img-beer-styles" src="{{image_url}}" alt=""></div>
        <div><p class="p-beer-styles">{{name}}</p>
        <p class="p-beer-styles">{{description}}</p>
        <p class="p-beer-styles">{{tagline}}</p></div>

{{/each}}
