<div class="index-div">
    <img class="index-img" src="/images/beer.png" alt="">
    <a class="index-anchor" href="/beers">Check the Beers!</a>
    <a class="index-anchor" href="/random-beer">Check a Random Beer!</a>
</div>

<footer class="index-footer"><p>Developed by Camilo Espinosa :)</p></footer>